In [2]:
import geopandas as gpd
import matplotlib.pyplot as plt
from bs4 import BeautifulSoup
import random
import textwrap

# Load the shapefile
shapefile_path = "D:/proDS1/ProDS2/Frontend/mygeodata/doc-polygon.shp"
data = gpd.read_file(shapefile_path)
data.head()

,id,name,descriptio,styleUrl,fill-opaci,fill,stroke-opa,stroke,stroke-wid,label-opac,label-colo,geometry
0,ID_00052,01 DTA Cimahi / Cihujung,"{ ""@type"": ""html"", ""value"": ""<html xmlns:fo=\""...",#PolyStyle00131,0.4,#aaff7f,1,#000000,1.5,0.0,#000000,"POLYGON ((107.60982 -6.76493, 107.61011 -6.766..."
1,ID_00012,02 DTA Cibaligo/ Cimancong / Cilember,"{ ""@type"": ""html"", ""value"": ""<html xmlns:fo=\""...",#PolyStyle00121,0.4,#0055ff,1,#000000,1.5,0.0,#000000,"POLYGON ((107.53313 -6.93609, 107.53426 -6.934..."
2,ID_00016,03 DTA Cigondewah / Cibeureum,"{ ""@type"": ""html"", ""value"": ""<html xmlns:fo=\""...",#PolyStyle00131,0.4,#aaff7f,1,#000000,1.5,0.0,#000000,"POLYGON ((107.62131 -6.80297, 107.62102 -6.804..."
3,ID_00010,04 DTA Ciwidey,"{ ""@type"": ""html"", ""value"": ""<html xmlns:fo=\""...",#PolyStyle00131,0.4,#aaff7f,1,#000000,1.5,0.0,#000000,"POLYGON ((107.55502 -6.99449, 107.55491 -6.994..."
4,ID_00007,05 DTA Ciranjeng/ Cisangkuy Hulu,"{ ""@type"": ""html"", ""value"": ""<html xmlns:fo=\""...",#PolyStyle00111,0.4,#0055ff,1,#000000,1.5,0.0,#000000,"POLYGON ((107.63966 -7.13805, 107.63921 -7.139..."

In [3]:
## Area
data = data.to_crs(epsg=3395)
data['area'] = data.geometry.area
data['area'] = data['area'].astype(float)/1000000
data['area'] = data['area'].apply(lambda x: f"{x:.2f}")

In [4]:
# Mendapatkan nilai unik dan mengurutkannya
unique_sorted_ids = data['id'].drop_duplicates().sort_values()
unique_sorted_ids

12    ID_00000
9     ID_00001
10    ID_00002
11    ID_00003
14    ID_00004
13    ID_00005
6     ID_00006
4     ID_00007
17    ID_00008
18    ID_00009
3     ID_00010
19    ID_00011
1     ID_00012
5     ID_00013
7     ID_00014
20    ID_00015
2     ID_00016
21    ID_00017
8     ID_00018
22    ID_00019
23    ID_00020
24    ID_00021
25    ID_00022
26    ID_00023
27    ID_00024
28    ID_00025
29    ID_00026
30    ID_00027
31    ID_00028
32    ID_00029
33    ID_00030
34    ID_00032
35    ID_00033
36    ID_00034
37    ID_00035
38    ID_00036
39    ID_00038
40    ID_00039
41    ID_00040
42    ID_00041
43    ID_00042
45    ID_00043
46    ID_00044
47    ID_00045
48    ID_00046
49    ID_00047
50    ID_00048
51    ID_00049
52    ID_00050
53    ID_00051
0     ID_00052
54    ID_00053
55    ID_00054
56    ID_00055
57    ID_00056
58    ID_00057
15         NaN
Name: id, dtype: object

In [5]:
# data['id'][44] = 'ID_00060'

In [6]:
data[['id','name','area']].head(59)

          id                                   name    area
0   ID_00052               01 DTA Cimahi / Cihujung   53.19
1   ID_00012  02 DTA Cibaligo/ Cimancong / Cilember   21.21
2   ID_00016          03 DTA Cigondewah / Cibeureum   41.94
3   ID_00010                         04 DTA Ciwidey  218.93
4   ID_00007       05 DTA Ciranjeng/ Cisangkuy Hulu  219.37
5   ID_00013                         06 DTA Citepus   24.14
6   ID_00006                       07 DTA Cisangkuy   74.83
7   ID_00014                     08 DTA Cikapundung  149.76
8   ID_00018                         09 DTA Cicadas   22.85
9   ID_00001                        10 DTA Cidurian   33.86
10  ID_00002                     11 DTA Cipamokolan   41.91
11  ID_00003                         12 DTA Cikeruh  174.12
12  ID_00000                         13 DTA Citarik  282.84
13  ID_00005                         14 DTA Cirasea   95.40
14  ID_00004                       DTA Citarum Hulu  207.63
15       NaN                            DTA Irigasi    2.16
16       NaN                    DTA Saluran Irigasi    1.02
17  ID_00008                         DTA Cijalupang   31.65
18  ID_00009                           DTA Cikambuy    5.93
19  ID_00011                        DTA Oxbow Sapan   19.45
20  ID_00015                             DTA Cibiuk    6.47
21  ID_00017               DTA Cirangrang Ciguriang   14.13
22  ID_00019                               DTA NN 4    8.06
23  ID_00020                            DTA Cipanya    3.00
24  ID_00021                            DTA Lokal 2    0.94
25  ID_00022                           DTA Cimariuk    9.77
26  ID_00023                           DTA Ciherang    2.95
27  ID_00024                              DTA Jolog    4.72
28  ID_00025                      DTA KR Cieunteung    2.76
29  ID_00026                            DTA Cigajah    4.88
30  ID_00027                   DTA Oxbow Leuwi Nini    2.31
31  ID_00028                       DTA Oxbow Mahmud    4.46
32  ID_00029                     DTA Oxbow Daraulin    5.06
33  ID_00030                            DTA Lokal 1    0.55
34  ID_00032                           DTA KR Andir    1.25
35  ID_00033                     DTA Bojong Citepus    0.18
36  ID_00034                         DTA KR Citepus    0.11
37  ID_00035                            DTA Lokal 7    0.08
38  ID_00036                            DTA Lokal 6    0.22
39  ID_00038                           DTA Cibojong    0.62
40  ID_00039                  DTA Oxbow Bojongsoang    2.44
41  ID_00040                       DTA Cipalasari I    0.78
42  ID_00041                           DTA Cicukang    5.31
43  ID_00042                        DTA Cikahuripan    0.68
44       NaN                            DTA Irigasi    0.41
45  ID_00043                            DTA Lokal 4    0.30
46  ID_00044                            DTA Lokal 3    0.38
47  ID_00045                         DTA Cicangkudu    4.83
48  ID_00046                            DTA Cijambe    3.94
49  ID_00047                       DTA Parunghalang    1.72
50  ID_00048                            DTA Lokal 5    0.29
51  ID_00049                            DTA Lokal 8    1.05
52  ID_00050                          DTA CItunggul   12.85
53  ID_00051                            DTA Ciraden    2.32
54  ID_00053                          DTA Ciharuman    0.83
55  ID_00054                            DTA Ciraden    0.31
56  ID_00055                              DTA Oxbow    2.36
57  ID_00056                       DTA Lembang Haur    6.34
58  ID_00057    DTA Oxbow Leuwi Uyah / Polder Sapan    4.73

In [8]:
data[data['name'] == 'DTA Irigasi']

,id,name,descriptio,styleUrl,fill-opaci,fill,stroke-opa,stroke,stroke-wid,label-opac,label-colo,geometry,area
15,NaN,DTA Irigasi,NaN,#inline1521,0.2,#ff5500,1,#000000,1.5,NaN,NaN,"POLYGON ((11970643.749 -770782.776, 11970677.4...",2.16
44,NaN,DTA Irigasi,NaN,#inline131,0.2,#ff5500,1,#000000,1.5,NaN,NaN,"POLYGON ((11971531.922 -770314.927, 11971406.8...",0.41

In [6]:
## Define function that converts shapefile row to path
def process_to_svg_group(row):
	rd = row.to_dict()
	del rd["geometry"]
	
	# Keep dataframe columns as attributes of the path
	to_add = []
	for key, val in rd.items():
					to_add.append('data-{}="{}"'.format(key, val))

	# Convert geometry column to SVG paths
	ps = BeautifulSoup(row.geometry._repr_svg_(), "xml").find_all("path")
	paths = []
	for p in ps:
		new_path = f"""<g {' '.join(to_add)}>{str(p)}</g>"""
		paths.append(new_path)

	return "\n\n".join(paths)

In [7]:
## Convert each row of the dataframe to an SVG path
processed_rows = []
for i, row in data.sample(frac=1).iterrows():
	p = process_to_svg_group(row)
	processed_rows.append(p)

## Setup svg attributes
props = {
	"viewBox": f"{data.total_bounds[0]} {data.total_bounds[1]} {data.total_bounds[2] - data.total_bounds[0]} {data.total_bounds[3] -data.total_bounds[1] }",
	"xmlns": "http://www.w3.org/2000/svg",
	"xmlns:xlink": "http://www.w3.org/1999/xlink",
	"transform": "scale(1, -1)",
	"preserveAspectRatio":"XMinYMin meet"
}

## Add attributes
template = '{key:s}="{val:s}"'
attrs = " ".join([template.format(key=key, val=props[key]) for key in props])

## Create SVG
raw_svg_str = textwrap.dedent(r"""
	<?xml version="1.0" encoding="utf-8" ?>
	<svg {attrs:s}>
	{data:s}
	</svg>""").format(attrs=attrs, data="".join(processed_rows)).strip()

## Save SVG
with open("map.svg", "w") as f:
	f.write(raw_svg_str)